<p id="notice"><%= notice %></p>

<h1 class="library-headline text-center">Genres</h1>
<div class="action-wrapper desktop-text-left mobile-text-center">
  <%= link_to 'Back', books_path, class: 'back-link' %>
</div>
<div class="library-table-wrapper">
  <table class="table table-inverse table-striped table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td><%= link_to 'Remove', genre, method: :delete, data: { confirm: 'Deleting a genre will delete all books belonging to that genre. Are you sure you want to continue?' } %></td>
          <td><%= genre.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
