<div id="new-genre-formfields" class="form-group">
  <%= label :genre, :name, class: 'control-label' %>
  <%= text_field :genre, :name, class: 'form-control' %>
  <a class="cancel-add-genre" href="#">cancel</a>
</div>
