@import "mixins";

$off-white: #f2f2f2;
$dark-grey: #888888;
$bp-desktop: 700px;

.library-headline,
.edit-book-headline,
.create-book-headline {
  color: $off-white;
  text-shadow: -8px 5px 4px black;
}

a.back-link {
  @include emphasized_link();
}

.action-wrapper {
  color: $off-white;
  padding-bottom: 1rem;
  text-align: center;

  .new-book-link,
  .authors-link,
  .genres-link {
    @include emphasized_link();
  }

  @media (min-width: $bp-desktop) {
    padding-right: 3rem;
    text-align: right;
  }
}

.library-table-wrapper {
  overflow-x: scroll;

  table {
    background-color: white;

    th {
      background-color: $dark-grey;
      color: $off-white;
    }
  }

  @media (min-width: $bp-desktop) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.book-form-wrapper {
  background: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  min-width: 10rem;
  padding: 2rem;
  width: 75%;

  .form-horizontal {
    .form-group {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .cancel-add-genre-wrapper,
  .cancel-add-author-wrapper {
    text-align: right;
  }
}

.action-wrapper {
  &.mobile-text-center {
    text-align: center;
  }
  @media (min-width: $bp-desktop) {
    &.desktop-text-left {
      text-align: left;
    }
    &.desktop-text-right {
      text-align: right;
    }
  }
}
